.navbar {
    position: fixed;
    top: 0%;
    background-color:#33ccff;
    width: 100%;
    height: 80px;
    padding-bottom: 10px;
}

.navbar-brand{
    position:absolute;
    top: 15%;   
}

.btn-danger{
    width: 60px;
    height: 30px;
    text-align: center
}



.dropdown-toggle{
    position: absolute;
    left:1120px;
    top:-85px;
}
.logout{
    position: absolute;
    left: 1200px;
    top: 0px;
    
}


.dropdown-menu{
    position: relative;
    left: 920px;
    bottom:65px;
    background-color: bisque;
}



