<br>
<div class="jumbotron text-center">
    <h1>Task Manager</h1> 
    <p>We are here to orginize your life</p>
    <br>
    
    
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="subscribe_input"placeholder="new user? enter your name here" required>
        <div class="input-group-btn">
          <button type="button" class="btn btn-danger" (click)="subscribe()">Subscribe</button>
        </div>
      </div>

      <br>
      
      <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="log_in_input" placeholder="been here before? what is your name?" required>
          <div class="input-group-btn">
            <button type="button" class="btn btn-danger" (click)="log_in()">log in</button>
          </div>
        </div>
  </div>
    




























